<div class="banner py-5 instructions-container">
    <div>
        <img class="intro-image-class" src="../../../assets/Images/Hello-cuate.svg">
    </div>
  <div>
    <h3 style="margin-left: 20px">Instructions : How to use ?</h3>
    <ul>
      <li>Click the '+' button to add a new task.</li>
      <li>Click on a task to mark it as completed.</li>
      <li>Use the trash bin icon to delete a task.</li>
    </ul>
  </div>
</div>
<div class="banner bg-dark text-white py-5 text-center">
  <h1>Start taking down TODOs</h1>
  <button class="btn mt-5 orange-button" routerLink="/add">Start</button>
</div>
