<div class="container todo-card-style p-2">
  <div
    class="todo-header"
    [ngStyle]="{ display: 'flex', 'justify-content': 'space-between' }"
  >
    <p>{{ todo.title }}</p>
    <div *ngIf="todo.complete; else elseBlock">Completed</div>
    <ng-template #elseBlock>Pending</ng-template>
  </div>
  <div class="todo-content">
    <p>{{ todo.content }}</p>
  </div>
  <div class="todo-footer">
    <button class="btn delete-btn">Delete</button>
    <button class="btn primary-btn ms-2">Done</button>
    <button class="btn secondary-btn ms-2"  (click)="openDialog(todo)">View Details</button>
  </div>
</div>
